<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
	<%= link_to "Gymseek", root_path, class: "navbar-brand" %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto h5 pt-2">
			<% if user_signed_in? %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle form-inline h4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="user-icon header-icon"><%= user_display(current_user) %></span><%= current_user.name %>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "ジムを登録する", new_gym_path, class: "dropdown-item py-2 h5" %>
            <%= link_to "Myジム", gyms_path(q: { user_id_eq: current_user.id }), class: "dropdown-item py-2 h5" %>
            <%= link_to "アカウントの編集", edit_user_registration_path, class: "dropdown-item py-2 h5"%>
						<div class="dropdown-divider"></div>
						<%= link_to "ログアウト", logout_path, class: "dropdown-item h5"%>
					</div>
				</li>
			<% else %>
				<li class="nav-item">
					<%= link_to 'ゲストログイン', guest_login_path, method: :post, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to "ログイン", login_path, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to "登録する", signup_path, class: "nav-link" %>
				</li>
			<% end %>
		</ul>
    <%= search_form_for @search do |f| %>
      <div class="form-group row form-inline my-2 my-lg-0">
        <%= f.search_field :name_cont, class: 'form-control mr-sm-2', placeholder: "ジム名を入力" %>
        <%= f.submit class: "btn btn-outline-primary my-2 my-sm-0 mr-2", id: "header_search" %>
      </div>
    <% end %>
	</div>
</nav>
<div class="position-absolute alert-notice">
	<% if notice %>
		<p class="notice bg-warning text-dark text-center my-0"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert bg-warning text-dark text-center my-0"><%= alert %></p>
	<% end %>
</div>
