<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-2 text-white text-center my-5 py-5">Gymseek</h1>
		<p class="lead display-5 text-white text-center pb-4">岡山で自分に合ったジムを見つけよう</p>
	</div>
</div>
<div class="container">
	<div class="row my-5">
		<p class="col-7 display-6 offset-sm-3 border border-dark text-center py-3 rounded-pill">条件を選んで探す</p>
	</div>
</div>
<div class="container">
	<div class="row my-5">
		<p class="col-7 display-6 offset-sm-3 border border-dark text-center py-3 rounded-pill">地域から探す</p>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<img src="/assets/home_japan_image.png" class="img-fluid pt-4 pr-4" alt="Responsive image">
		</div>
		<div class="col-sm-6">
			<p>北海道・東北</p>
			<p>
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
			</p>
			<p>関東</p>
			<p>
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|

			</p>
			<p>中部</p>
			<p>
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
			</p>
			<p>近畿</p>
			<p>
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
			</p>
			<p>中国・四国</p>
			<p>
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
			</p>
			<p>九州・沖縄</p>
			<p>
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
				<%= link_to " 北海道 ", "/" %>|
			</p>
		</div>


	</div>
</div>
