<% content_for(:html_title, 'ジム編集') %>
<div class="container">
  <div class="row my-5">
    <p class="col-lg-4 display-6 offset-lg-4 border border-dark text-center py-3 mt-5 rounded-pill shadow">ジム編集</p>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 border border-dark text-center p-3 shadow rounded bg-light">
			<div class="gym-icon my-4 col-sm-6 text-center offset-sm-3">
				<%= gym_display(@gym) %>
			</div>
      <%= render partial: "shared/gyms_error_messages", locals: { obj: @gym} %>
      <%= render partial: 'shared/gyms_form', locals: { gym: @gym, city_array: @city_array, gym_options: @gym_options } %>
			<%= link_to "削除する", @gym, method: :delete, data: { confirm: "ジム[#{@gym.name}]を削除します。本当によろしいですか？" }, class: "btn btn-danger"  %>
      <p class="my-4"><%= link_to "ジム一覧へ戻る", gyms_path %></p>
    </div>
  </div>
</div>
