<% content_for(:html_title, 'ジム詳細') %>
<div class="container py-5">
  <div class="row my-5">
    <p class="col-sm-4 display-6 offset-sm-4 border border-dark text-center py-3 my-5 rounded-pill bg-light shadow">ジム詳細</p>
  </div>
  <div class="border border-dark p-4 shadow rounded bg-light">
    <div class="row">
      <div class="gym-icon gym-show-icon text-center col-lg-6 mb-5">
        <%= gym_display(@gym) %>
      </div>
      <div class="col-lg-6 offset-1 offset-lg-0 row">
        <div class="col-lg-11 mb-4">
          <h1 class="text-left"><%= @gym.name %></h1>
        </div>
        <div class="col-lg-11 row mb-3">
          <div class="col-4 text-info"><%= Gym.human_attribute_name(:address) %></div>
          <div class="col-7 text-left"><%= @gym.city + @gym.address %></div>
        </div>
        <div class="col-11 row mb-3">
          <div class="col-4 text-info">営業時間</div>
          <% if @gym.opening_time && @gym.closing_time %>
            <div class="col-7 text-left"><%= @gym.opening_time.strftime("%H:%M") %> 〜 <%= @gym.closing_time.strftime("%H:%M") %></div>
          <% end %>
        </div>
        <div class="col-lg-11 row mb-3">
          <div class="col-4 text-info">公式サイト</div>
          <div class="col-7 text-left"><%= link_to "#{@gym.url}", @gym.url, class: "text-dark" %></div>
        </div>
        <div class="col-lg-11 row mb-3">
          <div class="col-4 text-info"><%= Gym.human_attribute_name(:phone_number) %></div>
          <div class="col-7 text-left"><%= @gym.phone_number %></div>
        </div>
        <div class="col-lg-11 row mb-3">
          <div class="text-left"><%= @gym.introduction %></div>
        </div>
      </div>
    </div>
    <div class="row col-lg-11 offset-1 my-5">
      <% @gym_options.each do |option| %>
        <% if @gym.send(option) %>
            <%= form_with model: @gym, class: "col-3 col-lg-2 text-center rounded bg-info p-0 m-1", local: true do |f| %>
              <%= f.label :"#{ option }", class: "text-white small pt-2 h6" %>
            <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="text-center py-5">
      <% if user_signed_in? && current_user.id == @gym.user_id %>
        <p class="my-5"><%= link_to "編集", edit_gym_path, class: "btn btn-dark mx-3" %> <%= link_to "削除", @gym, method: :delete, data: { confirm: "ジム[#{@gym.name}]を削除します。本当によろしいですか？" }, class: "btn btn-danger mx-3" %></p>
      <% end %>
    </div>
  </div>
</div>
