<div class="container">
  <div class="row my-5">
    <p class="col-sm-4 display-6 offset-sm-4 border border-dark text-center py-3 mt-5 rounded-pill bg-light shadow">アカウント編集</p>
  </div>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-sm-10 offset-sm-1 border border-dark text-center p-3 shadow rounded bg-light">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="user-icon user-edit-icon my-4">
          <%= user_display(@user) %>
        </div>
        <div class="field my-4">
          <%= f.file_field :image, autofocus: true, autocomplete: "image", class: "col-sm-6 offset-sm-1" %>
        </div>
        <div class="field my-3">
          <%= f.label "お名前" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control col-sm-6 offset-sm-3" %>
        </div>
        <div class="field my-3">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-sm-6 offset-sm-3" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field my-3">
          <%= f.label "新しいパスワード" %>
          <span>
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %>文字以上)
            <% end %>
          </span>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-sm-6 offset-sm-3" %>
        </div>
        <div class="field my-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-sm-6 offset-sm-3" %>
        </div>
        <div class="field my-3">
          <%= f.label :current_password %>(必須)
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control col-sm-6 offset-sm-3" %>
        </div>
        <div class="actions mt-4">
          <%= f.submit "変更する", class: "btn btn-dark" %>
        </div>
      <% end %>
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除してよろしいですか?" }, method: :delete, class: "btn btn-danger my-4" %>
    </div>
  </div>
</div>
