<% content_for(:html_title, '新規登録') %>
<div class="container">
  <div class="row my-5">
    <p class="col-lg-4 display-6 offset-lg-4 border border-dark text-center py-3 mt-5 rounded-pill bg-light shadow">アカウント新規登録</p>
  </div>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 border border-dark text-center p-3 my-5 shadow rounded bg-light">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <div class="field my-5">
          <%= f.label :name, "お名前" %><br />
          <%= f.text_field :name, autocomplete: "name", class: "form-control col-8 offset-2 my-5 col-lg-6 offset-lg-3" %>
        </div>
        <div class="field my-5">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control col-8 offset-2 my-5 col-lg-6 offset-lg-3" %>
        </div>
        <div class="field my-5">
          <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-8 offset-2 my-5 col-lg-6 offset-lg-3" %>
        </div>
        <div class="field my-5">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-8 offset-2 my-5 col-lg-6 offset-lg-3" %>
        </div>
        <div class="actions my-5">
          <%= f.submit "登録する", class: "btn btn-dark" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
